.button
    padding-top: 70px
    padding: 27px 51px
    font-family: 'Montserrat'
    font-weight: 700
    font-size: 17px
    line-height: 21px
    color: $pink_color
    width: 310px
    height: 74px
    border: 2px solid $pink_color
    background-color: rgba(0, 0, 0, 0)
    transition: 0.5s all
    &:hover
        color: $white_color
        background-color: $pink_color

        

